<%- include('../partials/questions/head') %> 

  <link rel="stylesheet" href="./css/fourOhFour.css" />

<body>
    <h1>404 - There's nothing here!</h1>

    <p>why not check out <span> <a href="https://cool-cats-and-kittens.netlify.app/">this</a></span> awesome game instead!</p>
   

    <img src="/css/travolta.gif">
</body>